.filter-dropdown {
    border-radius: 3px;
    border: #42454A solid 1px;
    position: absolute;
    padding: 0.5rem;
    box-shadow: 0.1ch 0.1ch 0.1ch black;
    overflow: scroll;
    cursor: initial;
    z-index: 1;
    width: 25ch;
    height: 20rem;
    left: -7rem;
    top: 1.5rem;
}

.filter-dropdown::-webkit-scrollbar, .filter-dropdown::-webkit-scrollbar-corner {
    width: 0;
    height: 0;
}

.filter-search {
    outline: none;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 0.5rem;
}

.filter-search::placeholder {
    color: #5F6369;
}
