.audit-action {
    border-radius: 3px;
    border: #202225 solid 1px;
    padding: 0.75rem;
    margin: 0.5rem 0;
    display: flex;
}

.audit-action > * {
    display: inline-block;
}

.action-icon {
    height: 3rem;
    position: relative;
    top: 0.25rem;
    margin-right: 0.5ch;
}

.action-details {
    flex: 1 1 auto;
}

.action-details > * {
    display: inline-block;
}

.action-avatar {
    height: 3.5rem;
    border-radius: 3.5rem;
    margin-right: 1ch;
}

.action-info {
    position: relative;
    bottom: 0.66rem;
}

.action-text {
    margin-bottom: 0.25rem;
    display: inline-block;
}

.action-discriminator, .action-timestamp {
    color: #6b767e;
}

.action-collapse {
    height: 1.25rem;
    position: relative;
    top: 1rem;
    right: 1ch;
}
