.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.btn {
    border-radius: 3px!important;
}

.focus-darken, .focus-lighten {
    transition: background-color 0.2s;
}

.minimal-text {
    width: 0;
}
