.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.btn {
    border-radius: 3px!important;
}

.kenny-bg {
    background-color: #9C2B2F!important;
}
