.blurple-text {
    color: #7289DA!important;
}

.blurple-bg {
    background-color: #7289DA!important;
}

.greyple-text {
    color: #99AAB5!important;
}

.greyple-bg {
    background-color: #99AAB5!important;
}

.dbnb-text {
    color: #2C2F33!important;
}

.dbnb-bg {
    background-color: #2C2F33!important;
}

.nqb-text {
    color: #23272A!important;
}

.nqb-bg {
    background-color: #23272A!important;
}
