.edit-playlist {
    display: inline-flex;
    flex-direction: row;
    min-width: calc(100% - 2ch);
}

.edit-playlist-input {
    border-radius: 5px;
    outline: none;
    flex: 1 0 auto;
    margin-left: 1ch;
}

.edit-playlist-input.invalid {
    border: red solid 3px;
}
