.playlist {
    margin-bottom: 1.75rem;
}

.playlist-title-wrapper {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    font-size: 1.3rem;
}

.playlist-title {
    flex: 1 0 auto;
}

.playlist-title-wrapper > * {
    padding: 1rem;
}

/* .open {
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
} */

.playlist-arrow {
    content: url("./collapse-arrow.png");
    height: 1rem;
    position: relative;
    top: 0.1rem;
    margin-right: 0.5ch;
}

.open > .playlist-arrow {
    content: url("./collapse-arrow-down.png");
}

.song-list {
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}

.kebab-menu {
    content: url("./kebab-icon.png");
    height: 1.23rem;
}
