.server-wrapper {
    padding: 2rem;
}

.server-loader {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1ch;
}

.server-info-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.music-player {
    padding: 1.5rem 3ch 1rem 3ch;
    border-radius: 10px;
    /* position: sticky; */
}

.music-player-row {
    display: flex;
    justify-content: space-between;
}

.music-player-button {
    margin: auto;
}

.server-play-icon {
    content: url("../../images//play-icon.png");
    height: 2rem;
}

.server-skip-icon, .server-prev-icon {
    content: url("../../images//skip-icon.png");
    height: 1.25rem;
}

.server-prev-icon {
    transform: scaleX(-1);
}

.playlist-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.playlist-header > * {
    display: inline;
}

.create-playlist-button {
    margin-left: 2ch;
    padding: 0 0.75rem!important;
    position: relative;
    top: -0.25rem;
}

.playlist-wrapper {
    margin: 0;
}

@media only screen and (min-width: 601px) {
    .server-wrapper {
        padding: 3.5rem 4rem 2rem 4rem;
    }

    .server-container {
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    .server-container > * {
        padding: 0 2ch!important;
    }

    .playlist-header {
        margin-bottom: 2rem;
    }
    
    .playlist-wrapper {
        margin-top: 1rem;
    }
}
