.btn.btn-login {
    background-color: #7289DA;
    border-radius: 3px;
}

.btn.btn-login:hover, .btn.btn-login:focus {
    background-color: #4e5d94;
}

.btn-login-logo {
    content: url("./Discord-Logo-White.svg");
    height: 1.25rem;
    vertical-align: text-top;
    margin-left: 0.5ch;
}
